img{
	width:80px;
}
body{
	background-color: #fff;
	background-image: linear-gradient(-90deg, #667be6, #754da3);
	font-family: arial;
}
.row{
	display: flex;
	justify-content: center;
	margin:auto;
	width: 800px;
	max-width: 100%;
}
.header{
	height: 100px;
	max-height: 100%;
	font-size: 50px;
	text-align: center;
	line-height: 100px;
	font-family: arial;
	color: #fff;
}

.playerInfo{
	font-size: 30px;
	color: #fff;
	margin-bottom: 5vh;
}

.playerName {
	margin-right: 5vw;
}

.dice{
	display: flex;
	justify-content: space-between;
	width: 66%;
	max-width: 520px;
}
.holder {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.score{
	background-color: rgba(52,52,52,0.3);
	color: #fff;
	height: 60px;
	max-height:100%;
	font-size: 32px;
	text-align: center;
	line-height: 60px;
	width:120px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.button {
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 25px;
}

.players .row {
	margin-top: 5vh;
}
.hidden {
	display: none;
}
.column{
	float: left;
	width:20%;
}
.roll{
}
.roll:hover{
}
.bank{
}
.bank:hover{
}
.transparent{
	/*For dice that are selected*/
	opacity: 0.75;
}